header{
    background-color: yellowgreen;
    height: 70px;
    padding-top: 0px;
}

.a{
    color: white;
    margin-left: 50px;
    
}

h1{
    size: 20px;
    color: blue;
}

div.box1{
    background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;

}
