header{
    background-color: yellowgreen;
    height: 70px;
    padding-top: 0px;
}

.a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
    
}

h1{
    size: 20px;
    color: blue;
}

h2{
    size: 20px;
    color: blue;
}

div.box1{
    background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;

}

marquee{
    height: 20px;
    background-color: black;
    color: white;
}

marquee a{
    color: white;
    font: bold;
    text-decoration: none;
}